<h1 class="text-center animated fadeIn fast">sobre nosotros</h1>

<img src="assets/img/comic-store.jpg" class="rounded mx-auto d-block img-fluid img-thumbnail" alt="Lights" style="width:60%">
<p class="animated fadeIn ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero pariatur repellendus 
    doloribus omnis ab aperiam, cumque dolorem ipsum maiores alias soluta 
    asperiores praesentium voluptates deleniti iusto. Similique labore dolor eveniet?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
     excepturi totam quasi animi omnis ea, illum nemo, ipsum asperiores incidunt dignissimos optio
     accusantium vero nobis, necessitatibus voluptas minus quos iste.
</p>